@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
  width: 430px;
  height: 930px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: #008476;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "hana-bold";
  src: url("./fonts/Hana2-Bold.otf");
}

@font-face {
  font-family: "hana-cm";
  src: url("./fonts/Hana2-CM.otf");
}
@font-face {
  font-family: "hana-heavy";
  src: url("./fonts/Hana2-Heavy.otf");
}
@font-face {
  font-family: "hana-light";
  src: url("./fonts/Hana2-Light.otf");
}
@font-face {
  font-family: "hana-medium";
  src: url("./fonts/Hana2-Medium.otf");
}
@font-face {
  font-family: "hana-regular";
  src: url("./fonts/Hana2-Regular.otf");
}

.hana-bold {
  font-family: "hana-bold";
}

.hana-medium {
  font-family: "hana-medium";
}

.hana-regular {
  font-family: "hana-regular";
}

.hana-light {
  font-family: "hana-light";
}

.font-sans {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
}